
/*******MAIN******/


body {
	width: 100%;
    overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: white;
	font-family: 'Oxygen';
}

footer {
	background-color: #D5DEDEs;
	min-height: calc (100vh-89px);
	padding-top: 100px;
}

footer p {
	font-size: 0.75em;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.neon img {
	width: 95%;
	height: 250px;
	margin: auto;

}

.menu {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	
}
.media{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.media li{
	display: inline-block;
	margin: auto;
	align-items: center;

}

.media img{
	height: 60px;
	width: 60px;
	padding-right: 50px;

}

.menu li {
	display: inline-block;
	padding: 5px;
}











